body {
  background-color: $backgroundColor;
  font-family: sans-serif;
}

div.main {
  margin: $pagePadding;

  nav {
    margin-bottom: $pagePadding;
  }
}

@mixin page-nav-element {
  padding: 0 $pagePadding / 3;
  height: $pageNavElementHeight;
  border-radius: $pageNavBorderRadius;
  border: 1px solid darken($backgroundColor, 10%);

  &:hover {
    border: 1px solid darken($backgroundColor, 30%);
  }
}

.btn {
  display: inline-block;
  border: 1px solid darken($backgroundColor, 10%);
  font-weight: bold;
  font-size: $pageNavFontSize;
  cursor: pointer;
  @include user-select(none);
  @include page-nav-element;

  &.primary {
    background-color: $brandColor;
    color: $headerBackground;

    &:active {
      background-color: darken($brandColor, 5%);
    }
  }

  &.secondary {
    color: $buttonTextColor;
    @include linear-gradient(lighten($backgroundColor, 5%), darken($backgroundColor, 5%));

    &:hover {
      color: darken($buttonTextColor, 10%);
    }

    &:active {
      @include linear-gradient($backgroundColor, darken($backgroundColor, 10%));
    }
  }
}

@mixin backgrounded-button($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  font-weight: normal;
  border-color: darken($bgColor, 15%);
  box-shadow: 0 1px 0 0 lighten($bgColor, 15%), inset 0 1px 0 0 lighten($bgColor, 15%);
  padding-left: $pagePadding * 0.75;
  padding-right: $pagePadding * 0.75;

  &:active {
    background-color: darken($bgColor, 15%);
    color: darken($textColor, 15%);
    box-shadow: 0 1px 0 0 lighten($bgColor, 15%);
  }
}

.search {
  display: inline-block;

  input[type='text'] {
    width: $searchBoxWidth;
    margin: 0;
    @include page-nav-element;
  }

  form {
    display: inline-block;
  }

  span, a, a:visited, label {
    font-size: $bodyFontSize;
    color: $buttonTextColor;
    margin-left: $pagePadding / 1.5;
  }

  input[type='checkbox'] {
    vertical-align: bottom;
    position: relative;
    top: 1px;
    margin: 0;
    // Assumes that the search span includes at least one page-nav-element.
    height: $pageNavElementHeight;
  }

}

* + .search {
  margin-left: $pagePadding;
}

.page-title {
  font-size: $headerFontSize;
  font-weight: bold;
}

table {
  input {
    font-size: $bodyFontSize;
  }

  th, td {
    padding: $tablePadding;
    text-align: left;
  }

  tbody tr:hover td:not(.no-highlight) {
    background-color: lighten($brandColor, 8%);
  }

  a {
    color: $bodyFontColor;
    text-decoration: underline;
    cursor: pointer;
  }
}

table.lined {
  font-size: $bodyFontSize;
  color: $bodyFontColor;
  border: 1px solid darken($backgroundColor, 10%);
  min-width: 100%;

  th {
    border-bottom: 1px solid darken($backgroundColor, 10%);
  }

  td {
    background-color: $tableBodyColor;
    border-bottom: 1px solid darken($backgroundColor, 15%);
  }
}

fieldset {
  font-size: $bodyFontSize;
  color: $bodyFontColor;
  background-color: $tableBodyColor;
  min-height: 50px;
  padding: $fieldsetPadding;
  margin-left: $fieldsetPadding;
  border-left: 1px solid darken($backgroundColor, 5%);
  border-right: 1px solid darken($backgroundColor, 5%);

  legend {
    font-size: $headerFontSize;
    position: relative;
    top: $fieldsetPadding;
    left: -$fieldsetPadding * 1.5;
    padding: $fieldsetPadding;
    background-color: $headerBackground;
    color: $navColorSelected;
  }
}

fieldset , .fieldset-form-actions, nav {
  & + fieldset {
    margin-top: $fieldsetPadding * 3;
  }
}

.fieldset-form-actions {
  padding: $fieldsetPadding;
  margin-left: $fieldsetPadding;

  border: 1px solid darken($backgroundColor, 5%);
  border-top-width: 0;
  border-bottom-color: darken($backgroundColor, 10%);

  text-align: right;

  a {
    color: $bodyFontColor;
    text-decoration: underline;
    cursor: pointer;
    font-size: $pageNavFontSize;
  }

  .btn {
    @include backgrounded-button($backgroundColor, $bodyFontColor);
  }

  a, .btn {
    margin-left: $fieldsetPadding * 2;
  }
}
