body {
  background-color: $backgroundColor;
  font-family: sans-serif;
}

div.main {
  margin: $pagePadding;

  nav {
    margin-bottom: $pagePadding;
  }
}

.btn {
  display: inline-block;
  border: 1px solid darken($backgroundColor, 10%);
  font-weight: bold;
  padding: $pagePadding / 3;
  font-size: $pageNavFontSize;
  cursor: pointer;
  border-radius: $pageNavBorderRadius;
  @include user-select(none);

  &:hover {
    border: 1px solid darken($backgroundColor, 30%);
  }

  &.primary {
    background-color: $brandColor;
    color: $headerBackground;

    &:active {
      background-color: darken($brandColor, 5%);
    }
  }

  &.secondary {
    color: $buttonTextColor;
    @include linear-gradient(lighten($backgroundColor, 5%), darken($backgroundColor, 5%));

    &:hover {
      color: darken($buttonTextColor, 10%);
    }

    &:active {
      @include linear-gradient($backgroundColor, darken($backgroundColor, 10%));
    }
  }
}

.search {
  display: inline-block;

  input {
    padding: $pagePadding / 3;
    width: $searchBoxWidth;
    height: $pageNavFontSize;
    border: 1px solid darken($backgroundColor, 10%);
    margin: 0;
    border-radius: $pageNavBorderRadius;
  }
}

* + .search {
  margin-left: $pagePadding;
}
