body {
  background-color: $backgroundColor;
  font-family: sans-serif;
}

div.main {
  margin: $pagePadding;
  margin-top: $pagePadding + $headerHeight;
  position: relative;
  
  nav {
    margin-bottom: $pagePadding;
  }

  .static-nav {
    background-color: $backgroundColor;
    z-index: 900;
    padding: $pagePadding;
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    border-bottom: 1px solid darken($backgroundColor, 10%);
  }

  .static-nav + div {
    margin-top: $headerHeight + 61px;
  }
}

@mixin page-nav-element {
  padding: 0 $pagePadding / 3;
  height: $pageNavElementHeight;
  border-radius: $pageNavBorderRadius;
  border: 1px solid darken($backgroundColor, 10%);

  &:hover {
    border: 1px solid darken($backgroundColor, 30%);
  }
}

.btn {
  display: inline-block;
  border: 1px solid darken($backgroundColor, 10%);
  font-weight: bold;
  font-size: $pageNavFontSize;
  cursor: pointer;
  text-decoration: none;
  @include user-select(none);
  @include page-nav-element;
  line-height: $pageNavElementHeight;

  &.primary {
    background-color: $brandColor;
    color: $headerBackground;

    &:active, &.depressed {
      background-color: darken($brandColor, 5%);
    }
  }

  &.secondary {
    color: $buttonTextColor;
    @include linear-gradient(lighten($backgroundColor, 5%), darken($backgroundColor, 5%));

    &:hover {
      color: darken($buttonTextColor, 10%);
    }

    &:active, &.depressed {
      @include linear-gradient($backgroundColor, darken($backgroundColor, 10%));
    }
  }

  &.slim {
    height: 20px;
    line-height: 20px;
  }
}

@mixin backgrounded-button($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  font-weight: normal;
  border-color: darken($bgColor, 15%);
  box-shadow: 0 1px 0 0 lighten($bgColor, 15%), inset 0 1px 0 0 lighten($bgColor, 15%);
  padding-left: $pagePadding * 0.75;
  padding-right: $pagePadding * 0.75;

  &:active, &.depressed {
    background-color: darken($bgColor, 15%);
    color: darken($textColor, 15%);
    box-shadow: 0 1px 0 0 lighten($bgColor, 15%);
  }
}

.search {
  display: inline-block;

  input[type='text'] {
    width: $searchBoxWidth;
    margin: 0;
    @include page-nav-element;
  }

  form {
    display: inline-block;
  }

  span, a, a:visited, label {
    font-size: $bodyFontSize;
    color: $buttonTextColor;
    margin-left: $pagePadding / 1.5;
  }

  input[type='checkbox'] {
    vertical-align: bottom;
    position: relative;
    top: 1px;
    margin: 0;
    // Assumes that the search span includes at least one page-nav-element.
    height: $pageNavElementHeight;
  }

}

* + .search, .page-title + .btn {
  margin-left: $pagePadding;
}

nav .right {
  float: right;

  select {
    margin: 0;
    @include page-nav-element;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-title {
  font-size: $headerFontSize;
  font-weight: bold;
}

table {
  input {
    font-size: $bodyFontSize;
  }

  th, td {
    padding: $tablePadding;
    text-align: left;
  }

  tbody tr:not(.no-highlight):hover td:not(.no-highlight) {
    background-color: lighten($brandColor, 8%);
  }

  a {
    color: $bodyFontColor;
    text-decoration: underline;
    cursor: pointer;
  }
}

table.lined {
  font-size: $bodyFontSize;
  color: $bodyFontColor;
  border: 1px solid darken($backgroundColor, 10%);
  min-width: 100%;

  th {
    border-bottom: 1px solid darken($backgroundColor, 10%);
  }

  td {
    background-color: $tableBodyColor;
    border-bottom: 1px solid darken($backgroundColor, 15%);
  }
}

fieldset {
  font-size: $bodyFontSize;
  color: $bodyFontColor;
  background-color: $tableBodyColor;
  min-height: 50px;
  padding: $fieldsetPadding;
  margin-left: $fieldsetPadding;
  border-left: 1px solid darken($backgroundColor, 5%);
  border-right: 1px solid darken($backgroundColor, 5%);

  legend {
    font-size: $headerFontSize;
    position: relative;
    top: $fieldsetPadding;
    left: -$fieldsetPadding * 1.5;
    padding: $fieldsetPadding;
    background-color: $headerBackground;
    color: $navColorSelected;
  }
}

fieldset, nav {
  & + fieldset {
    margin-top: $fieldsetPadding * 3;
  }
}

.bottom-bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $headerBackground;
  color: $bottomBarColor;
  padding: $bottomBarPaddingV $bottomBarPaddingH;

  .title, .btn, a {
    margin-right: $bottomBarPaddingH;
  }

  .title {
    font-weight: bold;
    padding-right: $bottomBarPaddingH;
    box-shadow: 1px 0 0 0 darken($headerBackground, 20%), 2px 0 0 0 lighten($headerBackground, 20%);
  }

  .btn {
    @include backgrounded-button($headerBackground, $bottomBarColor);
  }

  a {
    color: $bottomBarColor;
    text-decoration: underline;
    cursor: pointer;

    &.right {
      float: right;
      line-height: 26px;
      margin-right: 0;
    }
  }
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
}

.modal {
  $modalWidth: 600px;
  width: $modalWidth;
  background-color: $tableBodyColor;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -$modalWidth/2;

  .modal-content {
    padding: $bottomBarPaddingH;

    h2 {
      font-weight: bold;
      font-size: 120%;
      margin: 0.5em 0;
    }

    table {
      width: 100%;

      tr:hover td {
        background-color: none;
      }
    }
  }

  .bottom-bar {
    position: relative;
  }
}

.modal--wide {
  $modalWidth: 880px;
  width: $modalWidth;
  margin-left: -$modalWidth/2;
}

.control-group {
  display: table-row;

  &.error, small.error {
    background-color: $errorColor !important;
  }

  label, .controls {
    display: table-cell;
  }

  label {
    text-align: right;
    width: 45%;
    padding-right: 20px;
    line-height: 22px;
    white-space: nowrap;
    font-size: 90%;
  }

  .controls {
    input[type="number"] {
      width: $bodyFontSize * 5;
      text-align: right;
      padding-right: $bodyFontSize / 2;
      margin: 2px;
    }
  }

  small {
    font-size: 80%;
  }
}

.control-container {
  display: table;
}

td.error {
  background-color: $errorColor !important;
}

.row {
  overflow: hidden;
}

.one-half {
  box-sizing: border-box;
  width: 50%;
  padding: 0 15px;
  float: left;
}