$autocompletePadding: 0.5em 1em;

.autocomplete-results {
  min-height: 2em;
  max-height: 11em;
  overflow-y: auto;
  border: 1px solid #333;
  background-color: white;
  position: absolute;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  z-index: 101;
  font-size: 80%;

  .no-results {
    padding: $autocompletePadding;
    text-align: center;
  }

  ul {
    li {
      padding: $autocompletePadding;
      display: block;

      &:hover, &.selected {
        background-color: #EEE;
        cursor: pointer;
      }

      .highlight {
        text-decoration: underline;
      }
    }
  }
}
