
td.week, td.generation, td.site-name {
  input {
    width: $bodyFontSize * 3;
  }
}

td.tray, td.size {
  input {
    width: $bodyFontSize * 5;
  }
}

td.input {
  padding-top: 2px;
  padding-bottom: 2px;
}

td.edit-controls {
  white-space: nowrap;
}

td.error {
  background-color: $errorColor !important;
}

.bottom-bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $headerBackground;
  color: $bottomBarColor;
  padding: $bottomBarPaddingV $bottomBarPaddingH;

  .title, .btn, a {
    margin-right: $bottomBarPaddingH;
  }

  .title {
    font-weight: bold;
    padding-right: $bottomBarPaddingH;
    box-shadow: 1px 0 0 0 darken($headerBackground, 20%), 2px 0 0 0 lighten($headerBackground, 20%);
  }

  .btn {
    background-color: $headerBackground;
    color: $bottomBarColor;
    font-weight: normal;
    border-color: darken($headerBackground, 15%);
    box-shadow: 0 1px 0 0 lighten($headerBackground, 15%), inset 0 1px 0 0 lighten($headerBackground, 15%);
    padding-left: $bottomBarPaddingH * 0.75;
    padding-right: $bottomBarPaddingH * 0.75;

    &:active {
      background-color: darken($headerBackground, 15%);
      color: darken($bottomBarColor, 15%);
      box-shadow: 0 1px 0 0 lighten($headerBackground, 15%);
    }
  }

  a {
    color: $bottomBarColor;
    text-decoration: underline;
    cursor: pointer;
  }
}
