
header {
  background-color: $headerBackground;
  height: $headerHeight;

  span.brand {
    display: block;
    color: $brandColor;
    padding-top: $headerHeight * 0.2;
    margin-left: $headerHeight * 0.4;
    height: $headerHeight;
  }

  ul.user-account {
    float: right;
    margin-left: 0;

    li {
      display: inline-block;
      box-sizing: border-box;
      height: $headerHeight;
      padding-top: $headerHeight * 0.35;
      margin-right: 20px;

      a, a:visited {
        color: $navColorSelected;
        text-decoration: none;
        font-size: 80%;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  nav {
    float: right;

    a {
      display: inline-block;
      box-sizing: border-box;
      text-decoration: none;
      position: relative;
      height: $headerHeight;
      color: $navColor;
      font-size: $headerFontSize;
      padding-top: $headerHeight * 0.35;
      font-weight: bold;
      width: $navElementWidth;
      padding-left: $navIconWidth + $navIconPadding * 2.5;
      box-shadow: -1px 0 0 0 lighten($headerBackground, 20%), -2px 0 0 0 darken($headerBackground, 20%);

      background-repeat: no-repeat;
      background-position: $navIconPadding * 1.5 center;

      &:hover, &.selected {
        color: $navColorSelected;
      }

      &.users {
        background-image: url('/img/icon_users_unselected.png');
        padding-left: 6px + $navIconWidth + $navIconPadding * 2.5; // Users icon is 6px wider than others
        &:hover, &.selected {
          background-image: url('/img/icon_users_selected.png');
        }
      }

      &.database {
        background-image: url('/img/icon_database_unselected.png');
        &:hover, &.selected {
          background-image: url('/img/icon_database_selected.png');
        }
      }

      &.reports {
        background-image: url('/img/icon_report_unselected.png');
        &:hover, &.selected {
          background-image: url('/img/icon_report_selected.png');
        }
      }

      &.selected:after {
        content: "";
        @include arrow-down($headerBackground, $navArrowSize);
        position: absolute;
        top: $headerHeight;
        left: ($navElementWidth - $navArrowSize) / 2 ;
      }
    }
  }
}

.flash {
  text-align: center;
  padding: 10px;

  &.notice {
    background-color: $flashNoticeColor;
    border-bottom: 1px solid darken($flashNoticeColor, 20%);
  }

  &.alert, &.error {
    background-color: $flashWarningColor;
    border-bottom: 1px solid darken($flashWarningColor, 20%);
  }
}
