fieldset table {
  min-width: 100%;

  th {
    font-weight: bold;
  }

  td.report-icon {
    text-align: center;

    div {
      padding-top: 27px;
      background-repeat: no-repeat;
      background-position: center top;
      font-weight: bold;
    }

    &.current div {
      background-image: url("/img/icon_currentTasks.png");
    }

    &.overdue div {
      background-image: url("/img/icon_overdueTasks.png");
    }

    &.completed div {
      padding-top: 18px;
      background-image: url("/img/icon_completedTasks.png");
    }
  }

  td {
    vertical-align: middle;
  }

  tr + tr.first-report-row {
    border-top: 1px solid $backgroundColor;
  }
}

