fieldset table {
  min-width: 100%;

  th {
    font-weight: bold;
  }

  td.report-icon {
    vertical-align: middle;
  }

  tr + tr.first-report-row {
    border-top: 1px solid $backgroundColor;
  }
}

