$headerBackground: #2e2e2e;
$brandColor: #d4f6a2;
$headerHeight: 50px;
$headerFontSize: $headerHeight * 0.3;

$navColor: #8c8c8c;
$navColorSelected: #ffffff;
$navElementWidth: 150px;
$navIconWidth: 19px;
$navIconPadding: 10px;
$navArrowSize: 10px;

$flashNoticeColor: $brandColor;
$flashWarningColor: #fcb3b3;

$backgroundColor: #f2f0f1;

$pagePadding: 18px;
$pageNavFontSize: 15px;
$pageNavBorderRadius: 2px;
$searchBoxWidth: 200px;
$pageNavElementHeight: $pageNavFontSize + ($pagePadding * 0.6);

$buttonTextColor: #626262;

$bodyFontSize: 12px;
$bodyFontColor: #333;
$tablePadding: $pagePadding / 2;
$tableBodyColor: #fff;
$errorColor: #fcb3b3;

$bottomBarColor: #ffffff;
$bottomBarPaddingV: 10px;
$bottomBarPaddingH: $bottomBarPaddingV * 2;

$fieldsetPadding: 10px;
