$headerBackground: #2e2e2e;
$brandColor: #d4f6a2;
$headerHeight: 50px;

$navColor: #8c8c8c;
$navColorSelected: #ffffff;
$navElementWidth: 150px;
$navIconWidth: 30px;
$navArrowSize: 10px;

$backgroundColor: #f2f0f1;
