<nav>
  <a class="btn primary">Add New Crop</a>
  <span class="search">
    <input type="text" placeholder="Search database" id="database-search"/>
    <a class="btn secondary">Search</a>
  </span>
</nav>
<div class="table">
  <table>
    <tr><th>Florp</th></tr>
    <tr><td>One</td></tr>
  </table>
</div>
