<nav>
  <button class="btn primary">Add New Crop</button>
  <span class="search">
    <form action="/database">
      <input type="text" placeholder="Search database" id="database-search" name="search" value="<%= @search %>"/>
      <button type="submit" class="btn secondary">Search</button>
    </form>
    <% if @search %>
      <span class="search-results">
        <%= pluralize(@batches.count, "result") %> found
      </span>
      <%= link_to "Clear results", { :controller => "database", :action => "index"}, :class => "clear-search" %>
    <% end %>
  </span>
</nav>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Batch ID</th>
      <th>Site</th>
      <th>Category</th>
      <th>Crop</th>
      <th>Type</th>
      <th>Generation</th>
      <th>Size</th>
      <th>Units per tray</th>
      <th>Total trays</th>
      <th>Cell size</th>
      <th>Start</th>
      <th>Germinate</th>
      <th>Pot/Ground</th>
      <th>Sale</th>
      <th>Expiry</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: data">
    <tr>
      <td></td>
      <td data-bind="text: id"></td>
      <td data-bind="text: site_name"></td>
      <td data-bind="text: category_name"></td>
      <td data-bind="text: crop_name"></td>
      <td data-bind="text: type_name"></td>
      <td data-bind="text: generation"></td>
      <td data-bind="text: size_name"></td>
      <td data-bind="text: units_per_tray"></td>
      <td data-bind="text: total_trays"></td>
      <td data-bind="text: units_per_tray() * total_trays()"></td>
      <td data-bind="text: format_week(start_week())"></td>
      <td data-bind="text: format_week(germinate_week())"></td>
      <td data-bind="text: format_week(pot_week())"></td>
      <td data-bind="text: format_week(sale_week())"></td>
      <td data-bind="text: format_week(expiry_week())"></td>
    </tr>
  </tbody>
</table>

<% content_for :action_specific_js do %>
<script type="text/javascript" language="javascript">
  var databaseData = <%= @batches.to_json.html_safe %>;
</script>
<% end %>
